.status-container {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.status-container {
    margin: 0;
    font-size: 10px;
    color: white;

    display: flex;
    justify-content: space-between;
}

.status-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.status-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}