:root {
  --bg: #0a0f1c;
  --bg-secondary: #12182b;

  --primary: #3b82f6;
  --accent: #60a5fa;

  --separator: #9ca3af;

  --text: #e5e7eb;
  --text-dim: #9ca3af;
  --highlight: yellow;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  overflow: hidden;


  font-family: 'Share Tech Mono', monospace;

  background-image:
    radial-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(#0a0f1c, #05070f);

  background-size: 20px 20px;
}

@media (max-width: 768px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
}